#drop_file_zone {
    background-color: #eee;
    border: #999 5px dashed;
    width: 390px;
    height: 250px;
    padding: 10px;
    font-size: 20px;
}

#drag_upload_file {
    width: 100%;
    margin: 0 auto;
}

#drag_upload_file p {
    color: black;
    text-align: center;
}

#drag_upload_file #selectfile {
    display: none;
}
